<div class="menubar" style="width: 100%; background-color: rgb(79, 190, 255); font-family: 'Gloria Hallelujah', cursive; position: absolute; top: 0px;">
  <ul>
    <a href="/home"><li style="display: inline; margin-right: 30px;">Ini menu barnya User</li></a>
    <a href="/home"><li style="display: inline; margin-right: 30px;">Enemy List</li></a>
    <a href="/home"><li style="display: inline; margin-right: 30px;">Deceased List</li></a>
    <a href="/home"><li style="display: inline; margin-right: 30px;">Profile</li></a>
    <a href="/logout"><li style="display: inline; margin-right: 30px;">Log Out</li></a>
  </ul>
</div>