<div class="row">
  <div class="col s6">
    <h3 style="font-family: Barrio"><%= title %></h3>
    <h6 style="font-family: Raleway">Engage your friends, shorten your URLs!</h6>
  </div>
  <div class = "col s6">
    <div class="row"></div>
    <a class="waves-effect waves-teal btn-flat" href='/' style="font-family: Raleway">Home</a>
    <a class="waves-effect waves-teal btn-flat" href='/create' style="font-family: Raleway">Generate!</a>
    <a class="waves-effect waves-teal btn-flat" href='/urls' style="font-family: Raleway">Generated URLs</a>
  </div>
</div>
