<p>Ini add user</p>
<form class="" action="/dashboard/add_user" method="post">
<input type="text" name="add_user_username" placeholder="Username">
<input type="text" name="add_user_email" placeholder="Email">
<input type="text" name="add_user_password" placeholder="Password">
<select name="select_role">
  <option value="admin"> Admin </option>
  <option value="supervisor"> Supervisor </option>
  <option value="customer"> Customer </option>
</select>
<button type="submit" name="submit_user">Submit User</button>
</form>
