<!DOCTYPE html>
<html>
  <head>
    <title>Tempat Tebakan</title>
    <%- include ../partials/link-style.ejs %>
  </head>
  <body>
    <div class="">
      <%- include ../partials/menu-bar-admin.ejs %>
      <h1 style="font-size: 50px; position: relative; top: 100px;">Home nya Admin</h1>
      <br><br><br><br><br><br><br><br><br>
    </div>
  </body>
</html>