<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="">
      <a href="/">Home</a>
    </div>
    <h1><%= title %></h1>
    <p><%= title %> login page</p>
    <br>
    <p> Login here </p>
    <form action="/login" method="post">
      <input type="text" name="username" value="" placeholder="username"><br>
      <input type="password" name="password" value="" placeholder="password"><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
