
    <%- include ./partials/header %>  
  <body>
    <h1> Kongkow Idea </h1>
    <h2> Login </h2>
    <form action="/users/login/in" method="post">
      <h3> Username </h3>
      <input type="text" name="username">
      <h3> Password </h3>
      <input type="text" name="password">
      <br>
      <button type="submit">Login</button>
    </form>
    <a href="/users/signup">Sign Up</a>
  </body>
</html>