<!DOCTYPE html>
<html>
  <head>
    <title>Create New Account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3><%= msg %></h3>
<br><br><br>
    <a href="/"><h5>FRONT PAGE</h5></a>
  </body>
</html>
