<%- include ./partials/header %>
  <body>
    <h1> Kongkow Idea </h1>
    <h3> Sign Up </h3>
    <form action="/users/signup" method="post">
      <h3>Username</h3>
      <input type="text" name="username" placeholder="Please input your username here">
      <h3>Password</h3>
      <input type="text" name="password" placeholder="Please input your password here">
      <h3>Email</h3>
      <input type="text" name="email" placeholder="Please input your email here">
      <br>
      <br>
      <button type="submit">Register</button>
    </form>
  </body>
</html>