<p>note: sequelize db:seed dulu untuk adminnya ('aldyandika' dengan password '123')</p>
<p>karena default role bila create user dari halaman web adalah 'user'</p>
<p>Perbedaan ada di render menubar pada halaman '/profile'</p>
<p>Untuk role admin ada tambahan menubar 'view user list'</p>
<p>Web ini juga sudah menggunakan session.user yg akan di-create saat register/login dan di-delete saat logout</p>
<p>BTW ini bikinnya pake partial</p>